<!-- PayPal Logo -->
<table border="0" cellpadding="10" cellspacing="0" align="center">
  <tr>
    <td align="center"></td>
  </tr>
  <tr>
    <td align="center">
        <!-- https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2 -->
        <!-- onclick="javascript:window.open('https://www.paypal.com/c2/webapps/mpp/home?locale.x=en_C2','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" -->
      <a
        href="#"
        title="PayPal"
        ><img
          src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/44_Yellow_PayPal_Pill_Button.png"
          alt="PayPal"
          class="paypal-logo"
      /></a>
    </td>
  </tr>
</table>
<!-- PayPal Logo -->
