{% extends "basefiles/dashboard.html" %} {% load static %}
{% block title %}Edit {{ section.title }}{% endblock %} 
 
{% block content %}
<div class="container-fluid">
  <div class="row justify-content-end align-items-center">
    <div class="col-sm-12 col-md-6 col-lg-5" id="alert-space"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-9">
        <div class="d-flex justify-content-start align-items-center">
            <h4>{{ section.title }}</h4>
            <button type="button" class="btn btn-dark btn-sm text-light border-0 ms-4" title="Edit course details" data-bs-toggle="modal" data-bs-target="#editSectionModal">
                <i class="fa fa-pencil"></i>
            </button>
        </div> 
    </div>
    {% if section_items %}
        <div class="col-9 mt-4">
            <div class="d-flex justify-content-between align-items-center">
                {% if total_lessons.count == 1 %}
                  <h4>{{ total_lessons.count }} lesson found</h4>
                {% else %}
                  <h4>{{ total_lessons.count }} lessons found</h4>
                {% endif %}
                <button
                    type="button"
                    class="btn btn-custom-secondary border-0"
                    title="Add new section lesson"
                    data-bs-toggle="modal"
                    data-bs-target="#creationSectionContentModal"
                >
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    {% endif %}
    <div class="col-9">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">
              <div class="text-end">Actions</div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for lesson in section_items %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ lesson.title }}</td>
              <td class="text-end">
                <a 
                href="{% url 'staff:admin_course_section_lesson_details' course_id=lesson.section.course.id section_id=lesson.section.id lesson_id=lesson.id %}" 
                class="btn border-0 me-1"
                >
                  <i class="fa fa-eye"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- Display pagination links -->
      {% if section_items %}
      <div class="pagination text-center">
        <span class="step-links text-center">
          {% if section_items.has_previous %}
          <!-- <a href="?page=1">&laquo; first</a> -->
          <a href="?page={{ section_items.previous_page_number }}" class=""
            >previous</a
          >
          {% endif %}

          <span class="current">
            Page {{ section_items.number }} of {{ section_items.paginator.num_pages }}.
          </span>

          {% if section_items.has_next %}
          <a href="?page={{ section_items.next_page_number }}">next</a>
          <a href="?page={{ section_items.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
      {% else %} {% include "dashboard/components/empty_section_content.html" %}
      {% endif %}
    </div>
  </div>
</div>
{% include "components/creation_section_content_modal.html" %} 
{% include "components/update_current_section_modal.html" %}
{% endblock %} 
{% block js %}

{% endblock %}
