{% extends "components/sidebar.html" %}


{% block content %}
{% url 'staff:home' as home_url %}
{% url 'staff:categories' as categories_url %}
{% url 'staff:courses' as courses_url %}

    <li>
        <a href="{{ home_url }}" class="{% if request.path == home_url %}active{% endif %}">
            <box-icon 
                name='menu-alt-right' 
                size="lg"
                color="var(--secondary-color)"
            ></box-icon>
            <span>Home</span>
        </a>
    </li>
    <li>
        <a href="{{ categories_url }}" class="{% if request.path == categories_url %}active{% endif %}">
            <box-icon 
                name='menu-alt-right' 
                size="lg"
                color="var(--secondary-color)"
            ></box-icon>
            <span>Categories</span>
        </a>
    </li>
    <li>
        <a href="{{ courses_url }}" class="{% if request.path == courses_url %}active{% endif %}">
            <box-icon 
                name='menu-alt-right' 
                size="lg"
                color="var(--secondary-color)"
            ></box-icon>
            <span>Courses</span>
        </a>
    </li>
    <li>
        <a href="#" class="">
            <box-icon 
                name='menu-alt-right' 
                size="lg"
                color="var(--secondary-color)"
            ></box-icon>
            <span>Students</span>
        </a>
    </li>
    <li>
        <a href="#" class="">
            <box-icon 
                name='menu-alt-right' 
                size="lg"
                color="var(--secondary-color)"
            ></box-icon>
            <span>System Settings</span>
        </a>
    </li>
{% endblock %}  