{% load static %}
<div class="row align-items-center justify-content-center h-100 mt-5">
    <div class="col-12 text-center">
        <img src="{% static 'images/no_courses.svg' %}" alt="No courses" class="w-25">
        <p class="h4">You have no lessons here yet</p>
        <small class="text-secondary">Your lessons will appear here </small>
        <br>
        <button type="button" class="btn btn-custom-secondary border-0 mt-3" title="Add new section" data-bs-toggle="modal" data-bs-target="#creationSectionContentModal">
            <i class="fa fa-plus me-2"></i>Create
        </button>
    </div>
</div>