{% extends "components/sidebar.html" %}


{% block content %}
{% url 'customer:home' as home_url %}
{% url 'customer:learning' as learning_url %}


    <li>
        <a href="{{ home_url }}" class="{% if request.path == home_url %}active{% endif %}">
            <box-icon 
                name='menu-alt-right' 
                size="lg"
                color="var(--secondary-color)"
            ></box-icon>
            <span>Home</span>
        </a>
    </li>
    <li>
        <a href="{{ learning_url }}" class="{% if request.path == learning_url %}active{% endif %}">
            <box-icon 
                name='menu-alt-right' 
                size="lg"
                color="var(--secondary-color)"
            ></box-icon>
            <span>My Learning</span>
        </a>
    </li>
    <li>
        <a href="#">
            <box-icon 
                name='menu-alt-right' 
                size="lg"
                color="var(--secondary-color)"
            ></box-icon>
            <span>Payments</span>
        </a>
    </li>
{% endblock %}