{% extends "components/sidebar.html" %}


{% block content %}
    <li>
        <a href="#" class="active">
            <box-icon 
                name='menu-alt-right' 
                size="lg"
                color="var(--secondary-color)"
            ></box-icon>
            <span>Home</span>
        </a>
    </li>
    <li>
        <a href="#">
            <box-icon 
                name='menu-alt-right' 
                size="lg"
                color="var(--secondary-color)"
            ></box-icon>
            <span>My Learning</span>
        </a>
    </li>
    <li>
        <a href="#">
            <box-icon 
                name='menu-alt-right' 
                size="lg"
                color="var(--secondary-color)"
            ></box-icon>
            <span>Payments</span>
        </a>
    </li>
{% endblock %}