@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root{
    --primary-color: rgb(23, 23, 23);
    --secondary-color: #3da700;/*#44b901;#5ada10*/
    --secondary-color-brighter:#4dd100;
    --primary-variant: #EBEBEB;
    --secondary-variant: rgb(0, 20, 44);
    --secondary-variant-brighter: rgb(11, 35, 65);

    --default-font: 'Ubuntu', sans-serif;
    --variant-font: 'PT Sans', sans-serif;
    
    --heading-weight: 900;
    --title-weight:700;
    --smaller-title-weight:500;

    --btn-border-radius: 10px;
    --card-border-radius: 10px;
    --search-border-radius: 10px;
    --image-border-radius: 15px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--default-font);
    border-style: none;
}
.text-custom-secondary{
    color: var(--secondary-color) !important;
}
.btn-custom-secondary{
    background-color: var(--secondary-color) !important;
    color: var(--primary-variant) !important;
}

.btn-custom-secondary-variant{
    background-color: var(--secondary-variant) !important;
}

.btn-custom-secondary:hover{
    background-color: var(--secondary-color-brighter) !important;
    color: var(--primary-variant) !important;
}
.btn-custom-secondary-outlined{
    color: var(--secondary-color-brighter) !important;
    background-color: transparent !important;
    border: 2px solid var(--secondary-color-brighter) !important;
}

.btn-custom-secondary-outlined:hover{
    background-color: var(--secondary-color-brighter) !important;
    color: var(--primary-variant) !important;
}


.bg-custom-primary{
    background-color: var(--primary-color) !important;
    color: var(--primary-variant) !important;
}

.bg-custom-primary-variant{
    color: var(--primary-color) !important;
    background-color: var(--primary-variant) !important;
}

.bg-custom-secondary{
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}

html {
    overflow: hidden;
}

body{
    background-color: var(--primary-variant);
    overflow: auto;
}

.navbar-brand{
    font-size: 1.8rem !important;
    font-weight: bold !important;
    color: var(--secondary-color) !important;
    margin: 10px;
}
.dashboard-content{
    position: absolute;
}
.sidebar{
    position: fixed;

}
.sidebar, .dashboard-content{
    top: 0;
}

.sidebar{
    background-color: var(--primary-color);
    left: 0;
    bottom:0;
    width: 20vw;
    min-width: 260px;
    overflow: none;
}

.sidebar ul{
    height: 100%;
    list-style: none !important;
    margin-left: 0;
    padding-left: 0;
}

.sidebar ul .sidebar-item-bottom{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    right: 0;
    left: 0;
}

.sidebar ul .sidebar-item-bottom a{
    font-weight: 600 !important;
}

.sidebar ul li{
    margin: 10px;
}

.sidebar ul li a{
    display: block !important;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.1rem;
}

.sidebar ul li a:hover{
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}

.sidebar ul li .active, .sidebar ul li .active:hover{
    background-color: var(--secondary-color-brighter) !important;
    color: var(--primary-color) !important;
}

.sidebar ul li a box-icon{
    display: none;
}

.bg-custom-prim{
    background-color: var(--primary-color) !important;
    color: var(--primary-variant) !important;
}

.bg-custom-secondary{
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}

.dashboard-content{
    left: 20vw;
    bottom: 0;
    right: 0;
    overflow: auto;
    /* width: calc(100vw - 250vw); */
}

.overflow-auto{
    overflow: auto !important;
}


.card-rounded{
    border-radius: var(--card-border-radius) !important;
}

.search-input {
    padding-left: 30px;
    background-image: url('../images/search-icon-green.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: transparent !important;
    padding-top:8px;
    padding-bottom: 8px;
    font-size: 1.1rem;
    border-radius: var(--search-border-radius);
    border: 1px solid var(--secondary-color);
    color: var(--primary);
    width: 100%;

}

.search-input:focus{
    outline: none;
    border-color: var(--secondary-color) !important;
    /* box-shadow: 0 0 5px var(--secondary-color-brighter) !important; */
}

input:focus{
    outline: none !important;
}

.stats-course-card i{
    position:absolute;
    margin: 8px;
    top: 0;
    right: 0;
    height: 24px;
    width: 24px;
}
/* VIDEO STYLING */
.video-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    border-radius: 10px !important;
}

#video-player {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px !important;
} 

#video-player source{
    border-radius: 10px !important;
}
/* END VIDEO STYLING */

@media (max-width:1200px) {
    .dashboard-content{
        left:300px;
    }
}
@media (max-width: 800px){
    .sidebar{
        min-width: none !important;
        max-width: none !important;
        width: 50px !important;
    }

    .sidebar ul li a{
        display: none;
    }
    .sidebar ul li a span{
        display: none;
    }

    .sidebar ul li a box-icon{
        display: inline-block;
    }
}
