{% extends "basefiles/dashboard.html" %}
{% load static %}
{% block content %}
    <div class="row justify-content-center align-items-stretch mx-2">
        <div class="col-sm-10 col-md-6 col-lg-6">
            <div class="d-flex align-items-stretch h-100">
                {% include 'dashboard/components/home_welcome_card.html' %}
            </div>
            <!-- <p class="h3 mt-3" style="font-weight:600;">Courses in Progress</> -->
        </div>
        <div class="col-sm-10 col-md-6 col-lg-6 p-2">
            <div class="row">
                <div class="col-12 pb-3">
                    {% include "components/search_form.html" %}
                </div>

                {% for stat in courses_stats %}
                    <div class="col-sm-12 col-md-12 col-lg-6 px-2 mt-2">
                        {% include "dashboard/components/pending_and_completed_card.html" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include "dashboard/components/no_courses.html" %}
{% endblock %}