
  <!-- Modal -->
  <div class="modal fade" id="sectionCreationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Create section</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'staff:course_details' course.id %}" method="POST" enctype="multipart/form-data">
            {% include "components/form_light.html" %}
            <button class="btn btn-custom-secondary mt-3 w-100">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  