<div class="collapse navbar-collapse p-0 m-0" id="navbarNav">
    <ul class="navbar-nav text-center m-0 p-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'frontend:home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            {% include "components/search_form.html" %}
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a href="{% url 'users:logout' %}" class="btn btn-custom-secondary-outlined d-inline-block w-25">Logout</a>
        </li>
        {% else %}
            <li class="nav-item">
                <a href="{% url 'users:sign-up' %}" class="btn btn-custom-secondary-outlined d-inline-block w-25">Register</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'users:login' %}" class="btn btn-custom-secondary d-inline-block w-25">Login</a>
            </li>
        {% endif %}
    </ul>
</div>