<div class="collapse navbar-collapse" id="navbarNav">
    <div class="row w-100">
        <div class="col-lg-9 col-md-9 col-sm-0">
            <ul class="navbar-nav">
                <div class="d-flex justify-content-center align-center text-center  w-100">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'frontend:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        {% include "components/search_form.html" %}
                    </li>
                </div>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-0">
            <div class="d-flex align-items-center justify-content-end h-100">
                <a href="{% url 'users:sign-up' %}" class="btn btn-custom-secondary-outlined">Sign Up</a>
                <a href="#" class="btn btn-custom-secondary mx-3">Login</a>
                <!-- <a href="#">signup</a>
                <a href="#" class="mx-3">login</a> -->
            </div>
        </div>
    </div>
</div>