<div class="collapse navbar-collapse" id="navbarNav">
    <div class="row w-100">
        <div class="col-lg-9 col-md-9 col-sm-0">
            <ul class="navbar-nav">
                <div class="d-flex justify-content-center align-center text-center  w-100">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'frontend:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        {% include "components/search_form.html" %}
                    </li>
                </div>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-0">
            <div class="d-flex align-items-center justify-content-end h-100"> 
                {% if request.user.is_authenticated and not request.user.is_active %}
                    <a href="#" title="Check your email to activate your account" class="btn btn-custom-secondary mx-3">Activate account</a>
                {% elif request.user.is_authenticated and request.user.is_active %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'staff:home' %}" class="nav-link active mx-3">Dashboard</a>
                    {% else %}
                        <a href="{% url 'customer:home' %}" class="nav-link active mx-3">Dashboard</a>
                    {% endif %}
                    <a href="{% url 'users:logout' %}" class="btn btn-custom-secondary mx-3">Logout</a>
                {% else %}
                    <a href="{% url 'users:sign-up' %}" class="btn btn-custom-secondary-outlined">Sign Up</a>
                    <a href="{% url 'users:login' %}" class="btn btn-custom-secondary mx-3">Login</a>
                {% endif %}
                <!-- <a href="#">signup</a>
                <a href="#" class="mx-3">login</a> -->
            </div>
        </div>
    </div>
</div>