{% load static %}
<!-- Modal -->
<style>
    .mpesa-logo{
        border: 1px solid rgb(0, 178, 0) !important;
        border-radius: 20px !important;
        padding: 2px 10px !important;
    }
    .mpesa-logo, .paypal-logo{
        height: 40px !important;
    }
</style>
  <div
    class="modal fade"
    id="subscription"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="subscriptionLabel"
    aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="subscriptionLabel">Subscription</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     <form action="{% url 'subscription:subscription' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ course.id }}" name="course-id">
                        <div class="row justify-content-center">
                            <!-- Payment method -->
                            <div class="col-12">
                                <p><b>Payment method</b></p>
                            </div>
                            <div class="col-6">
                                <!-- MPESA -->
                                <div class="row">
                                    <div class="col-12">
                                        <a href="#" class="mt-2">
                                            <img
                                            src="{% static 'images/mpesa-logo.png' %}"
                                            class="mpesa-logo img-fluid"
                                            height="50px"
                                            alt="Mpesa Logo"
                                        >
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="payment-choice" id="mpesa-payment">
                                            <label class="form-check-label" for="mpesa-payment">
                                              M-Pesa
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <!-- PAYPAL -->
                                <div class="row">
                                    <div class="col-12">
                                        {% include "logos/paypal-logo.html" %}
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="payment-choice" id="paypal-payment">
                                            <label class="form-check-label" for="paypal-payment">
                                              Paypal
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 my-2"></div>
                            <!-- Subscription type -->
                            <div class="col-12">
                                <p><b>Subscription type</b></p>
                            </div>
                            <div class="col-12">
                                <!-- One time -->
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="subscription-type" id="onetime-subscription">
                                    <label class="form-check-label" for="onetime-subscription">
                                      One time
                                    </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <!-- Monthly -->
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="subscription-type" id="monthly-subscription">
                                    <label class="form-check-label" for="monthly-subscription">
                                      Monthly
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 mt-4 mb-2">
                                <button class="btn-custom-primary w-100 text-center">
                                    Submit
                                </button>
                            </div>
                        </div>
                     </form>
                </div>
            </div>
        </div>
  </div>
  